
@{
	ViewBag.Title = "Nums 1 ..." + ViewBag.Count;
}

<h2>@ViewBag.Title</h2>
<ul>
	
	@for (int i = 1; i < ViewBag.Count; i++)
	{
		<li>@i</li>
	}

</ul>

<form asp-controller="Home" asp-action="NumbersToN" method="post">
<div>
	<lablel> Number</lablel>
<input  type="text" class="name" />
</div>

	
</form>

